<div ng-include="'views/partials/header.html'"></div>

<div class="container">
    <h5>
        <a href="#!/">
            &larr; back to Product list
        </a>
    </h5>

    <div class="checkout" ng-init="getChekoutProducts()">

        <div class="row checkout-row" ng-repeat="product in checkoutProducts">
            <div class="col-xs-4 col-sm-2 col-md-1">
                <a ng-href="#!/product/details/{{product.productId}}">
                    <img ng-src="{{product.images[0]}}" class="img-responsive" alt="{{product.name}}">
                </a>
            </div>
            <div class="col-xs-8 col-sm-10 col-md-11">
                <div class="row">
                    <div class="col-sm-5 col-md-6">
                        <a ng-href="#!/product/details/{{product.productId}}">
                            <h4>{{product.name}}</h4>
                        </a>
                        <p class="card-description">{{product.shortDescription}}</p>
                    </div>
                    <div class="col-sm-7 col-md-6">

                        <div class="row checkout-quantity-section">
                            <div class="col-xs-3 col-md-4">
                                <h5>{{product.price | currency }}</h5>
                            </div>
                            <div class="col-xs-3 col-md-4">

                                <input type="text" class="card-quantity" ng-change='updateCart(product.productId,product.qta)' ng-model="product.qta">
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <h4>{{product.price * product.qta | currency }}</h4>
                                <a class="checkout-remove" ng-click="productRemove($index,product.productId)">remove</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="checkout-total" ng-hide="checkEmptyCart()">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-4 col-sm-offset-8 col-sm-2 col-md-offset-8 col-md-2">
                    <h3>Total</h3>
                </div>
                <div class="col-xs-5 col-sm-2 col-md-2">
                    <h3>{{CalculateTotal() | currency}}</h3>
                    <a href="http://www.fake-link-paypal-pay.com?pay={{CalculateTotal() | currency}}" target="_blank" class="btn btn-primary"
                        role="button">Check Out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-empty" ng-show="checkEmptyCart()">
        <h1>you have an empty Cart.
            <span class="checkout-buy">BUY NOW!</span>
        </h1>
    </div>
</div>