<div ng-include="'views/partials/header.html'"></div>

<div class="container">

    <h5>
        <a href="#!/">
            &larr; back to Product list
        </a>
    </h5>

    <div ng-init="getProduct()">
        <div class="row detail">

            <div class="col-md-6 detail-carousel hidden-xs hidden-sm  ">
                <div uib-carousel interval="4000" active="0">

                    <div uib-slide ng-repeat="image in product.images" index="$index">
                        <img ng-src="{{image}}">

                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <h1>{{product.name}}</h1>
                <img class="detail-image hidden-md hidden-lg img-responsive " ng-src="{{product.images[0]}}" alt=" ">
                <p class="detail-description ">{{product.longDescription}}</p>

                <div class="row ">
                    <div class="col-xs-4 ">
                        <h1>{{product.price | currency}}</h1>
                    </div>
                    <div class="col-xs-8 card-cart-section ">
                        <input type="text " class="card-quantity" ng-model="quantity">
                        <button ng-click="addToCart(product.productId,quantity)" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>