<div ng-include="'views/partials/header.html'"></div>

<div class="container ">
    <div ng-init="getProductList()">
        <div class="row">
            <div class="card" ng-repeat="product in products">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" ng-click>
                        <a ng-href="#!/product/details/{{product.productId}}">
                            <img class="card-image" ng-src="{{product.image}}" alt="{{product.name}}">
                        </a>
                        <div class="caption">
                            <div class="card-title">
                                <a href="#!/product/details/{{product.productId}}">
                                    {{product.name}}
                                </a>
                            </div>
                            <p class="card-description">{{product.shortDescription}}</p>
                            <div class="row">
                                <div class="col-xs-4">
                                    <h3>{{product.price | currency }}</h3>
                                </div>
                                <div class="col-xs-8">

                                    <add-to-cart-section>Add to cart</add-to-cart-section>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>