<div class="card-cart-section">
    <input type="text" class="card-quantity" ng-model="quantity">
    <button class="btn btn-primary">Add to Cart</button>
    <!-- <div class="addedtocart" ng-class="{'addedtocart-show' : added}">Added to cart</div> -->
</div>