<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/">
                <img alt="Brand" class="logo" src="assets/images/logo-light-small.png">
            </a>

            <div class="navbar-text cart-section">
                <a href="#!/checkout">

                    <img alt="cart" class="cart-icon" src="assets/images/icon-cart.png ">
                    <span class="badge cart-badge" ng-class="{'cart-badge-animation' : badgeAnim}" ng-model="cartlength">{{cartlength}}</span>

                </a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#!/">Product List</a>
                </li>

            </ul>
        </div>

    </div>
</nav>
<div class="subheader-title">
    <div class="container">
        <h1>{{pageHeading}}</h1>
        <p>MimeShop e-commerce</p>
    </div>
</div>