/* general */

body { 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    height: 100%;
    padding-top: 50px;
    color: #333;
    background-color:white;
    margin-bottom: 100px;         
  } 
    
  /* fade in ng-view */
  
  div[ng-view] {
    &.ng-enter {
      transition: all 0.5s linear;
      opacity: 0;
    }
    &.ng-enter-active {
      opacity: 1;
    }
  }
  
  .addedtocart {
    color: midnightblue;
    opacity: 0;
  }
  
  .addedtocart-show {
    opacity: 1;
  }
  
  .logo {
    height: 19px;
  }
  
  /* 
      header - Navbar section 
  */
  
  .cart-section {
    position: relative;
    float: right;
    z-index: 100;
  }
  
  .cart-icon {
    height: 23px;
    width: 26px;
  }
  
  .cart-badge {
    position: absolute;
    right: -15px;
    top: -10px;
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  .cart-badge-animation {
    animation: makeitbigger linear 0.4s;
  }
  
  @keyframes makeitbigger {
    0%,100% {
      font-size: 15px;
      background: #375f8c;
      color: white;
    }
  
    50% {
      font-size: 12px;
      background: white;
      color: #333;
    }
  }
  .shakeit {
      animation-name: thumb;
      animation-duration: 200ms;
      transform-origin:50% 50%;
      animation-iteration-count: 2;
      animation-timing-function: linear;
}

@keyframes thumb {
	0% { transform: scale(1); }
	50% { transform: scale(0.8); }
	100% { transform: scale(1); }
}
  .subheader-title {
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
  }
  
  /* 
      products card 
  */
  
  .card .card-image {
    height: 200px;
  }
  
  .card-title {
    font-size: 24px;
    position: relative;
    height: 70px;
    width: 100%;
    overflow: hidden;
    &:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 20%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
  }
  
  .card-description {
    position: relative;
    height: 40px;
    width: 100%;
    overflow: hidden;
    &:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 20%;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
  }
  
  .card-cart-section {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .card-quantity {
    background-color: #fff;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50px;
  }
  
  /* 
      product details  
  */
  
  .detail {
    margin-top: 30px;
  }
  
  .detail-image {
    width: 50%;
    margin: auto;
  }
  
  .detail-description {
    font-size: 16px;
    font-weight: 300;
  }
  
  /* 
      checkout area 
      
  */
  
  .checkout {
    margin-top: 40px;
  }
  
  .checkout-quantity-section {
    text-align: right;
  }
  
  .checkout-row {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .checkout-remove {
    cursor: pointer;
  }
  
  .checkout-total {
    text-align: right;
  }
  
  .checkout-empty {
    text-align: center;
  }
  
  .checkout-buy {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
   

  /* 
      bootstrap overwrites 
  */
  
  .navbar-header {
    width: 100%;
  }
  
  /*    carousel    */
  
  .carousel-inner {
    height: 400px;
    .item img {
      height: 350px;
      margin: auto;
    }
  }
  
  .carousel-control {
    &.left, &.right {
      background-image: none;
    }
  }
  
  .carousel-indicators li {
    border: 1px solid #333;
  }
  
  .carousel-control {
    .glyphicon-chevron-right {
      text-shadow: 2px 0px 1px #333;
    }
    .glyphicon-chevron-left {
      text-shadow: -2px 0px 1px #333;
    }
    .glyphicon-chevron-right, .icon-next {
      right: 20%;
    }
    .glyphicon-chevron-left, .icon-prev {
      left: 20%;
    }
  }
  
  /* Include this file in your html if you are using the CSP mode. */
  
  .ng-animate.item:not(.left):not(.right) {
    -webkit-transition: 0s ease-in-out left;
    transition: 0s ease-in-out left;
  }